$color-accent:            #d9ffe4;
$color-primary:           #1946BB;
$color-text:              #2D2A29;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-size-base:          14px !default;

//== Layout
//
$navbar-color:            #2D2A29;
$navbar-color-hover:      $color-accent;
$navbar-padding:          3.6rem 10.2rem;

$section-padding-desktop: 3.6rem 10.2rem;
$section-padding-mobile:  2.4rem 1.6rem;

$footer-background-color: #d9ffe4;
